*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,sans-serif;

background:#050816;

color:white;

overflow-x:hidden;

}

.background{

position:fixed;

width:100%;

height:100%;

background:

radial-gradient(circle at top left,#5936ff55,transparent 30%),

radial-gradient(circle at bottom right,#00d4ff33,transparent 30%),

#050816;

z-index:-1;

}

.navbar{

width:90%;

margin:auto;

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

backdrop-filter:blur(20px);

}

.logo{

font-size:28px;

font-family:"Space Grotesk";

font-weight:700;

color:#8d7cff;

}

ul{

display:flex;

gap:35px;

list-style:none;

}

a{

color:white;

text-decoration:none;

}

.demo-btn{

padding:14px 28px;

background:#6C63FF;

border-radius:50px;

cursor:pointer;

transition:.3s;

}

.demo-btn:hover{

transform:translateY(-4px);

}

.hero{

width:90%;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

min-height:90vh;

}

.hero-left{

width:50%;

}

.badge{

display:inline-block;

padding:8px 18px;

background:#ffffff12;

border:1px solid #ffffff20;

border-radius:40px;

margin-bottom:25px;

}

h1{

font-size:72px;

line-height:80px;

font-family:"Space Grotesk";

margin-bottom:25px;

}

h1 span{

background:linear-gradient(90deg,#6C63FF,#00D4FF);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.hero-text{

font-size:20px;

color:#cfd2d7;

line-height:35px;

max-width:600px;

margin-bottom:40px;

}

.buttons{

display:flex;

gap:20px;

}

.primary{

padding:18px 35px;

background:#6C63FF;

border-radius:50px;

cursor:pointer;

}

.secondary{

padding:18px 35px;

border:1px solid white;

border-radius:50px;

cursor:pointer;

}

.hero-right{

display:flex;

justify-content:center;

align-items:center;

width:40%;

}

.glass-card{

width:350px;

padding:40px;

background:rgba(255,255,255,.06);

border:1px solid rgba(255,255,255,.15);

border-radius:30px;

backdrop-filter:blur(25px);

box-shadow:0 25px 60px rgba(0,0,0,.45);

}

.glass-card h3{

margin-bottom:30px;

font-size:26px;

}

.stat{

display:flex;

justify-content:space-between;

margin-bottom:20px;

font-size:18px;

}

.stat strong{

font-size:24px;

color:#00e5a8;

}
